* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.headerLeft{
    font-family: Inter, sans-serif;
    align-content: center;
    display: flex;
    flex-direction: row;
}

.headerLeft > li{
    font-size: xxx-large;
    list-style: none;
}